body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f8f8;
    padding: 1px; /* Further reduced padding to make the header less tall */
    text-align: center;
}

header img {
    max-width: 90%; /* Reduce the size of the banner image if it's too large */
    height: auto;
}

#personal-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%; /* Reduced width to decrease the size of the personal image */
    margin-top: 10px; /* Adjusted space above the image */
}

section {
    margin: 20px;
}

#publications p {
    font-style: italic; /* Makes the font italic */
    margin-bottom: 20px; /* Adds space between the description and the list of publications */
    color: #555; /* Changes the color of the text */
}

footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
