body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f8f8;
    padding: 1px; /* Further reduced padding to make the header less tall */
    text-align: center;
}

header img {
    width: 100%; /* Reduce the size of the banner image if it's too large */
    max-height: 275px;
    height: auto;
    display: block;
}

#personal-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%; /* Reduced width to decrease the size of the personal image */
    margin-top: 10px; /* Adjusted space above the image */
}

section {
    margin: 20px;
}

#publications p {
    font-style: italic; /* Makes the font italic */
    margin-bottom: 20px; /* Adds space between the description and the list of publications */
    color: #555; /* Changes the color of the text */
}

#repositories ul {
    padding: 0; /* Removes default padding */
}

#repositories li {
    margin-bottom: 10px; /* Adds space between each repository link */
}

#repositories a {
    color: #0077cc; /* Sets the link color */
    text-decoration: none; /* Removes the underline from links */
    font-weight: bold; /* Makes the font bold */
}

#repositories a:hover {
    text-decoration: underline; /* Adds an underline on hover for better usability */
}

footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
