body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f8f8;
    padding: 1px;
    text-align: center;
}

header img {
    width: 100%;
    max-height: 275px;
    height: auto;
    display: block;
}

#personal-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 10px;
}

nav ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    display: flex; /* Make the list items horizontal */
    justify-content: center; /* Center the list items */
    background-color: #333; /* Background color for the nav bar */
}

nav ul li {
    margin: 0 10px; /* Space between links */
}

nav ul li a {
    text-decoration: none; /* Remove underline from links */
    color: white; /* White text color */
    font-size: 1em; /* Set font size */
    padding: 10px 15px; /* Add padding around the links */
    border-radius: 5px; /* Rounded corners for links */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

nav ul li a:hover {
    background-color: #575757; /* Slightly lighter gray on hover */
}

section {
    margin: 20px;
}

#publications p,
#repositories p {
    font-style: italic;
    margin-bottom: 20px;
    color: #555;
}
